<!DOCTYPE html>
<html lang="en">
<head>
    <title>Periodic Table Speller</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap">
    <script src="/static/js/htmx.min.js"></script>
</head>

<body hx-boost="true">
<section>
    <form hx-on::after-request="this.reset()">
        Word: <input type="text" id="enter-word" name="enterWord"/>
        <button type="submit" id="spell-btn" hx-post="/spell" hx-target="#word-spelling"
                hx-swap="outerHTML">
            spell
        </button>
    </form>
</section>

<div class="gradient"></div>

<section>
    {% include 'spelled_word.html' %}
</section>

</body>
</html>